body {
	background-color: #F5FFD9;
	text-align: center;
	font-family: "Comic Sans MS", arial, sans-serif;
}

hr {
    border: 1em;
    border-top: 1.0px solid #6C6969;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
}

#header {
	background-color: #C8BD8C;
	height: 15em;
}

#icon {
	padding-top: 1em;
}

#header h1 {
	font-size: 3em;
	padding-bottom: 0.125em;
}

#header h3 {
	font-size: 1.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
}

#banner h3 {
	font-size: 1.25em;
	font-style: italic;
	display: inline-block;	
	width: 20em;
}

#banner {
	background-color: #BDD982;
	height: 5em;
	padding-top: 2em;
}

#add-items {
	margin-top: 0.5em;
	background-color: PeachPuff;
	height: 2em;
	border: none;
	border-color: PeachPuff;
	border-radius: 15px;
	color: black;
    font-size: 0.75em;
    line-height: 1.5em;
    margin: 1em auto;
    padding: 0 0.5em;
    text-align: center;
    width: 10em;
    outline: none;
}

#listings {
	background-color: #FAF0D2;
	height: auto;
	padding-top: 1.5em;
}

#listings h2 {
	font-size: 2em;
	padding-bottom: 0.05em;
	padding-top: 0.5em;
}

#list-area {
	margin-top: 0.5em;
	padding-bottom: 1.5em;
}

#list-area {
	padding-bottom: 0.1em;
	margin-bottom: 0.5em;
	display: inline-block;
	margin-left: 0em;
}

#list {
	text-align: left;
	text-decoration: none;
}

.non-strikethrough {
	text-decoration: none;
}

.strikethrough{
	text-decoration: line-through;
}

button {
	color: white;
	width: auto;
	background-color: #FF9E00;
	border-color: #f15a29; 
	text-shadow: none;
	border-style: none;
	border-radius: 20px;
	padding: 0.5em 0.5em;
	font-size: 0.8em;
	outline: none;
}

button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}

/* media queries */
@media (max-width: 1000px) {
    #header {
        /*background-color: orange;*/
    }
    #header h1 {
    	font-size: 2.25em;
    	max-width: 200em;
    }
    #header h3 {
    	font-size: 0.95em;
    }
}

@media (max-width: 1000px) {
    #banner {
        /*background-color: blue;*/
    }
    #banner h3 {
    	font-size: 0.75em;
    }

}

@media (max-width: 1000px) {
    img {
        /*background-color: blue;*/
        width: 65px;
    }
}

@media (max-width: 500px) {
  #footer {
    padding: 2em 0;
    /*font-size: 1em;*/
  }
}